*.pyc
*~
*.iml
.git
.DS_Store
.settings
.project
.pydevproject
.installed.cfg
.mr.developer.cfg
.idea
.sass-cache
config.codekit
.codekit-cache/

.secret.key
staticfiles/
debug.log
uwsgi.log
nohup.out

*.zip
*.csv
node_modules/